<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>SprintBoard</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <h1>SprintBoard</h1>
    <img src="{% static 'images/favicon.png' %}" alt="SprintBoard Logo"/>
    {% if issues %}
        <ul>
            {% for issue in issues %}
                <strong>{{ issue.title }}</strong><br>
                {{ issue.description }}<br>
                <strong>Status: {{issue.board_number}}</strong><br>
                <em>Published on: {{ issue.pub_date }}</em>
                <br>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No issues available.</p>
    {% endif %}
</body>
</html>
