{% extends "projectboard/base.html" %}
{% block title %} Home {% endblock %}
{% block heading %} SprintBoard {% endblock %}
{% block content %}
    {% if issues %}
        <ul>
            {% for issue in issues %}
                <strong>{{ issue.title }}</strong><br>
                {{ issue.description }}<br>
                <strong>Status: {{issue.board_number}}</strong><br>
                <em>Published on: {{ issue.pub_date }}</em>
                <br>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No issues available.</p>
    {% endif %}
{% endblock %}